<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.glossaryofindustry.mappers.FieldsChildrenMapper">
    <resultMap type="com.example.glossaryofindustry.domains.FieldsChildren" id="fieldsChildrenResultMap">
        <result property="fieldChildId" column="field_child_id" />
        <result property="fieldId" column="field_id" />
        <result property="fieldChildName" column="field_child_name" />
        <result property="createUser" column="create_user" />
        <result property="createDateTime" column="create_date_time" />
        <result property="updateUser" column="update_user" />
        <result property="updateDateTime" column="update_date_time" />
        <result property="updateNo" column="update_no" />
    </resultMap>
    <select id="all" resultMap="fieldsChildrenResultMap">
        SELECT * FROM fields_children
    </select>
</mapper>