<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.glossaryofindustry.mappers.GlossarysMapper">
    <resultMap type="com.example.glossaryofindustry.domains.Glossarys" id="glossarysResultMap">
        <result property="glossaryId" column="glossary_id" />
        <result property="terminology" column="terminology" />
        <result property="fieldDiv" column="field_div" />
        <result property="fieldChildDiv" column="field_child_div" />
        <result property="wordDescription" column="word_description" />
        <result property="comentFlg" column="coment_flg" />
        <result property="createUser" column="create_user" />
        <result property="createDateTime" column="create_date_time" />
        <result property="updateUser" column="update_user" />
        <result property="updateDateTime" column="update_date_time" />
        <result property="updateNo" column="update_no" />
    </resultMap>
    <select id="all" resultMap="glossarysResultMap">
        SELECT * FROM glossarys
    </select>
    <select id="findBySearchCondition" resultMap="glossarysResultMap">
        SELECT
            *
        FROM
            glossarys
        <where>
            <if test="searchCondition.idList.size() > 0">
                <foreach item="id" index="index" collection="searchCondition.idList" open="(" separator="," close=")">
                    glossary_id IN #{searchCondition.idList}
                </foreach>
            </if>
            <if test="searchCondition.terminology != null">
                AND
                    terminology = #{searchCondition.terminology}
            </if>
            <if test="searchCondition.fieldDiv != 0">
                AND
                    field_div = #{searchCondition.fieldDiv}
            </if>
            <if test="searchCondition.fieldChildDiv != 0">
                AND
                    field_child_div = #{searchCondition.fieldChildDiv}
            </if>
        </where>
    </select>
    <insert id="addGlossarys">
        INSERT INTO glossarys(
            field_div,
            field_child_div,
            terminology,
            word_description,
            create_user,
            coment_flg,
            update_no
        ) 
        VALUES(
        1,
        #{fieldChildId},
        #{terminology},
        #{desc},
        'unknwon',
        FALSE,
        1
        )
    </insert>
</mapper>