<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.glossaryofindustry.mappers.UsersMapper">
    <resultMap type="com.example.glossaryofindustry.domains.Users" id="usersResultMap">
        <result property="userId" column="user_id" />
        <result property="userName" column="user_name" />
        <result property="pasword" column="pasword" />
        <result property="adminFlg" column="admin_flg" />
        <result property="createDateTime" column="create_date_time" />
    </resultMap>
    <select id="all" resultMap="usersResultMap">
        SELECT * FROM users
    </select>
    <insert id="createUser">
        INSERT INTO users(
            user_name,
            pasword,
            admin_flg
        )
        VALUES(
        #{userName},
        #{pasword},
        FALSE
        )
    </insert>
    <select id="findBySearchCondition" resultMap="usersResultMap">
        SELECT
            *
        FROM
            users
        <where>
            <if test="searchCondition.idList.size() > 0">
                <foreach item="id" index="index" collection="searchCondition.idList" open="(" separator="," close=")">
                    user_id IN #{searchCondition.idList}
                </foreach>
            </if>
            <if test="searchCondition.userName != null">
                AND
                    user_name = #{searchCondition.userName}
            </if>
            <if test="searchCondition.pasword != null">
                AND
                    pasword = #{searchCondition.pasword}
            </if>
            <if test="searchCondition.adminFlg != null">
                AND
                    admin_flg = #{searchCondition.adminFlg}
            </if>
        </where>
    </select>
</mapper>