<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>用語集</title>
        <link href="../static/css/common/main.css" th:href="@{/css/common/main.css}" rel="stylesheet" />
        <link href="../static/css/glossary" th:href="@{/css/glossary/glossaryindex.css}" rel="stylesheet" />
        <link th:replace="include/bootstrap"></link>
    </head>
    <body>
        <div id="header" th:replace="include/header"></div>
        <div class="main">
            <div id="menu" th:include="include/menu"></div>
            <section id="contents-box bg-contentsbox">
                <div class="content field" th:each="record : ${form.getIndexRecordList()}">
                    <form class="field" th:action="@{/glossary/search}" method="POST">
                        <input type="hidden" name="fieldChildId" th:value="${record.getFieldChildId()}">
                        <input class="btn" type="submit" th:value="${record.getFieldName()} + ' - ' + ${record.getFieldChildName()}">
                    </form>
                </div>
            </section>
        </div>
    </body>
</html>
