<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
        <link href="../../static/css/common/main.css" th:href="@{/css/common/main.css}" rel="stylesheet" />
        <link href="../../static/css/login/loginindex.css" th:href="@{/css/login/loginindex.css}" rel="stylesheet" />
        <link th:replace="include/bootstrap"></link>
    </head>
    <body>
        <div id="header" th:replace="include/header"></div>
        <div class="main">
            <div id="menu" th:include="include/menu"></div>
            <section id="index">
				作成中
				左のメニューからtoolを選んでください
            </section>
        </div>
    </body>
</html>