<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ログイン</title>
        <link href="../../static/css/common/main.css" th:href="@{/css/common/main.css}" rel="stylesheet" />
        <link href="../../static/css/login/loginindex.css" th:href="@{/css/login/loginindex.css}" rel="stylesheet" />
        <link th:replace="include/bootstrap"></link>
        <script type="text/javascript" src="../../static/script/js/pages/login/login.js" th:src="@{/script/js/pages/login/login.js}"></script>
    </head>
    <body>
        <div id="header" th:replace="include/header"></div>
        <div class="main">
            <div id="menu" th:include="include/menu"></div>
            <section id="loginForm">
                <div th:replace="include/message"></div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">ログイン</h4>
                        <h6 class="card-subtitle mb-2 text-muted">ユーザー名</h6>
                        <form class="panel" th:action="@{/login/compleate}" method="POST">
                        <div class="userName">
                            <input type="text" name="userName" class="form-control">
                        </div>
                        <h6 class="card-subtitle mb-2 text-muted">パスワード</h6>
                        <div class="pasword">
                                <input class="btn number stil" type="button" value="" data-char="7">
                                <input class="btn number stil" type="button" value="" data-char="6">
                                <input class="btn number stil" type="button" value="" data-char="3">
                                <input class="btn number stil" type="button" value="" data-char="9">
                                <input class="btn number stil" type="button" value="" data-char="1">
                                <input class="btn number stil" type="button" value="" data-char="4">
                                <input class="btn number stil" type="button" value="" data-char="8">
                                <input class="btn number stil" type="button" value="" data-char="2">
                                <input class="btn number stil" type="button" value="" data-char="5">
                                <div>
                                    <input id="pas" name="pasword" type="hidden" value="">
                                    <button type="submit" class="btn btn-warning">login</button>
                                </div>
                                <p class="btn btn-info reset">パターンリセット</p>
                            </div>
                        </form>
                    </div>
                </div>
                <form th:action="@{/login/signup}" method="post">
                    <a class="right" href="javascript:void(0)" th:onclick="this.parentNode.submit()">こちら</a>
                    <p class="right">登録は</p>
                </form>
            </section>
        </div>
    </body>
</html>